html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}
:focus {
	outline: 0
}
body {
	line-height: 1;
	color: black;
	background: white
}
ol, ul {
	list-style: none
}
table {
	border-collapse: separate;
	border-spacing: 0
}
caption, th, td {
	text-align: left;
	font-weight: normal
}
blockquote:before, blockquote:after, q:before, q:after {
	content: ""
}
blockquote, q {
	quotes: "" ""
}
*, :after, :before {
	box-sizing: border-box;
}
.cf:before, .cf:after {
	content: " ";
	display: table
}
.cf:after {
	clear: both
}
.f_left {
	float: left
}
.f_right {
	float: right
}
/*---------------------------------------------------------------------------------------------------------------------*/
html,
body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}
h1 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
}
h2 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
}
h3 {
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	margin-bottom: 14px;
}
a, p {
	font-size: 14px;
	line-height: 16px;
}
p {
	margin-bottom: 8px;
}
a {
	color: #32AADC;
	text-decoration: none;
}
a:hover {
	color: #208DBB;
}
h3 a {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
}
label {
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
}
.logo {
	display: block;
}
.main_content {
	width: 1024px;
	margin: 0 auto;
}
.button {
	background-color: #32AADC;
	border-color: #32AADC;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	line-height: 16px;
	padding: 4px 8px;
}
.button:hover {
	background-color: #208DBB;
	border-color: #1E87B2;
	color: #FFFFFF;
}
input {
	border: none;
	background: #F0F0F0;
	font-size: 14px;
	line-height: 16px;
}
.main_content {
	position: relative;
	min-height: 100%;
	padding-bottom: 170px;
}
.bold {
	font-weight: bold;
}
/*------------------------------------------------------- Header ------------------------------------------------------*/
.header {
	padding: 5px 10px;
	border-bottom: 4px solid #FF3A30;
}
.login_search_panel {
	padding-bottom: 10px;
}
.motivator {
	display: block;
	padding: 10px 0;
	text-align: left;
	width: 736px;
}
.header .form_wrap.f_right {
	margin-right: 100px;
}
.input_search {
	border-radius: 4px;
	padding: 5px 15px;
	width: 200px;
}
.main_menu .item {
	margin-right: 35px;
}
.main_menu a {
	color: #333333;
}
.main_menu a:hover {
	color: #32AADC;
}
.main_menu {
	padding: 10px 15px;
}
.main_nav {
	border-bottom: 1px solid #00A0CA;
	margin-bottom: 10px;
}
/*------------------------------------------------------- Footer ------------------------------------------------------*/
.footer {
	background: #3E4A54;
	border-top: 4px solid red;
	bottom: 0;
	height: 150px;
	margin-top: -150px;
	position: relative;
}
.footer_content {
	width: 1024px;
	margin: 0 auto;
}
/*------------------------------------------------------ Content ------------------------------------------------------*/
.content {
	padding: 30px 15px;
	width: 70%;
}
.right_sidebar {
	width: 30%;
}
.right_sidebar.f_right {
	padding: 30px 15px;
}
.category_menu {
	padding: 20px 0 0;
}
.category_menu > li {
	margin-bottom: 8px;
}
.projects_wrap {
	padding-top: 15px;
}
.project {
	border-bottom: 1px solid #00A0CA;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
.title_wrap {
	/*background: #ccc none repeat scroll 0 0;*/
	margin-left: -15px;
	padding: 5px 0 5px 15px;
}
.project_detail .project {
	border: 0;
}
.chat_questions {
	border-bottom: 1px solid #00A0CA;
	border-top: 1px solid #00A0CA;
}
.sidebar_question {
	padding: 5px 0;
}
.input_chat {
	height: 100px;
	margin: 10px 0;
	width: 100%;
}
.chat_form {
	width: 500px;
}
.button_chat {
	position: absolute;
	right: 0;
}
.block_buttons {
	position: relative;
}
.info_block > p {
	margin-right: 35px;
}
.info_block {
	display: flex;
}
.chat_elem {
	background-color: #F4E8E8;
	padding: 20px 0;
}
.chat_elem:nth-child(even) {
	background-color: #EBF9FD;
}
.chat_questions .info_block > p {
	font-size: 12px;
}
.block_wrapper {
	margin-bottom: 25px;
}
.button.button_invest {
	background: #FF3A30;
	display: block;
	font-size: 16px;
	margin: 20px 0;
	padding: 10px 20px;
	text-align: center;
	width: 250px;
}
.breadcrumb_list {
	display: block;
	padding: 5px 15px;
}
.breadcrumb_list .item.f_left {
	margin-right: 10px;
}
/*-------------------*/
.payment {
	padding-top: 15px;
}
.payment .input_wrap {
	padding: 5px 0;
}
.payment label {
	margin-bottom: 12px;
}
.payment .input_wrap > input {
	padding: 6px 10px 10px;
	width: 300px;
}
.payment .button_chat {
	left: 0;
	margin-top: 20px;
	position: absolute;
}
.payment .button {
	background-color: #32AADC;
	border-color: #32AADC;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	line-height: 16px;
	padding: 4px 8px;
}
.payment .check_bocs_block input {
	text-align: left;
	width: 20px;
	margin-top: 4px;
}
/*h3 {*/
/*background: #00a0ca none repeat scroll 0 0;*/
/*font-size: 16px;*/
/*font-weight: 600;*/
/*line-height: 18px;*/
/*padding: 5px;*/
/*}*/
/*h3 a {*/
/*color: #333;*/
/*display: block;*/
/*font-size: 16px;*/
/*font-weight: 600;*/
/*line-height: 18px;*/
/*}*/
/*h3 a:hover {*/
/*color: #333;*/
/*}*/